<% if current_user && current_user == trip.owner %>

<div class="sidebar-heading">
  MANAGE
</div>

  <%= button_to "Edit this trip", edit_trip_path(trip), method: :get, :class => "radius button", :id => 'edit-trip-button' %>
<% end %>
