<% if current_user && current_user == @trip.owner %>
<div class="side_bar_heading">
  <h5 style="line-height: 30px;">MANAGE</h5>
  <div class="side_bar_hr">
  </div>
</div>

<br>
<br>

  <%= button_to "Edit this trip", edit_trip_path(@trip), method: :get, :class => "radius button" %>
<% end %>
