<% feed_items.each do |feed_item| %>
  <div class="row" id="feed_item">
    <div class="two columns">
      <%= image_tag(feed_item['user']['avatar'], size: '40x40') %>
    </div>
    <div class="ten columns">
      <%= render partial: feed_item['type'],
                 locals: { feed_item['type'].to_sym => feed_item } %>
      <br>
      <%= "#{link_to feed_item['user']['username'], user_path(feed_item['user']['user_id'])} posted to #{feed_item['type']} #{time_ago_in_words(feed_item['data']['event_created_at'])} ago" %>
    </div>
  </div>
<% end %>
