<% if kreeprs.count > 0 %>
  <div class="side_bar_heading">
    <h5 class="sidebar-header">KREEPRS</h5>
    <div class="side_bar_hr">
    </div>
  </div>

<br>
<br>
<% end %>

<% @trip.kreeprs.each do |kreepr| %>
  <div class="side_bar_link">
    <%= link_to kreepr.username, users_path(kreepr) %>
  </div>
<% end %>
<br>
