<% if kreepings.count > 0 %>
  <div class="side_bar_heading">
    <h5 style="line-height: 30px;">KREEPINGS</h5>
    <div class="side_bar_hr">
    </div>
  </div>

  <br>
  <br>
<% end %>

  <% kreepings.each do |trip| %>
    <div class="side_bar_link">
      <%= link_to kreepings.first.name, trip_path(trip) %>
    </div>
  <% end %>

<br>