<div class="sidebar-heading">
  TRAVELERS
</div>

<% travelers.each do |traveler| %>
  <p class="trip-link"><%= link_to traveler.username, users_path(traveler) %></p>
<% end %>

<div class="sidebar-heading">
  KREEPRS
</div>

<% kreeprs.each do |kreepr| %>
  <p class="trip-link"><%= link_to kreepr.username, users_path(kreepr) %></p>
<% end %>
