<div class="sidebar-heading">
  TRIPS
</div>

  <% trips.each do |trip| %>
    <% if request.path == trip_path(trip) %>
      <p class="trip-link"><%= link_to trip.name, trip_path(trip), :class => "active" %></p>
    <% else %>
      <p class="trip-link"><%= link_to trip.name, trip_path(trip) %></p>
    <% end %>
  <% end %>

<div class="sidebar-heading" id="second-heading">
  KREEPINGS
</div>
  <% kreepings.each do |trip| %>
    <p class="trip-link"><%= link_to trip.name, trip_path(trip) %></p>
  <% end %>
