<div class="row">
  <div class="three columns">
    <% if @feed_items.count > 0 %>
      <div class="side_bar_2">
        <%= render partial: 'trips_sidebar',
                   locals: { trips: @trips,
                             feed_items: @feed_items } %>
        <br>
        <%= render partial: 'kreepings_sidebar',
                   locals: { kreepings: @kreepings } %>
      </div>
    <% end %>
  </div>

  <%= render partial: 'feed_item',
             locals: { feed_items: @feed_items } %>
</div>

