<div class="row">
  <div class="three columns">
    <div class="side_bar_2">
      <%= render partial: 'trips_sidebar',
                 locals: { trips: @trips } %>
      <br>
      <%= render partial: 'kreepings_sidebar',
                 locals: { kreepings: @kreepings } %>
    </div>
  </div>

  <div class="nine columns">
    <%= render partial: 'feed_item',
               locals: { feed_items: @feed_items } %>
  </div>
</div>

