---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&since_id=1&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ATWnDZ0CeEHpqrPMtyXaig", oauth_nonce="2ba65c58d1db52e7df2affb46f823983",
        oauth_signature="RSPsEi0PIV6ioU9Ufx6ERj8zLZE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1368638442", oauth_token="57272421-DdrlGSaASFZj1qjoqYqiSo4YDmJkDkaZOBVE5rSV4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 15 May 2013 17:20:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1368638576'
      X-Transaction:
      - 400d7385fcedb58e
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed May 08 13:34:01 +0000 2013","id":332126241945702401,"id_str":"332126241945702401","text":"Testing.","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":57272421,"id_str":"57272421"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Wed, 15 May 2013 17:20:43 GMT
recorded_with: VCR 2.4.0
