---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&since_id=1&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ATWnDZ0CeEHpqrPMtyXaig", oauth_nonce="b64aa03987ace451bea8a8f0983dc720",
        oauth_signature="RZfolMuQfYtdzxx4gaKFXTSRYls%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369323065", oauth_token="57272421-DdrlGSaASFZj1qjoqYqiSo4YDmJkDkaZOBVE5rSV4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 23 May 2013 15:31:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1369323963'
      X-Transaction:
      - 4766b18c0c954798
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed May 22 16:48:33 +0000 2013","id":337248628685012993,"id_str":"337248628685012993","text":"wuddup,
        @ebdrummond! I''m testing the @mention and #hash functionality in the twitter
        gem :) http:\/\/t.co\/lke80Pg1jo","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":57272421,"id_str":"57272421"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"hash","indices":[50,55]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"ebdrummond","name":"Erin
        Drummond","id":205086968,"id_str":"205086968","indices":[8,19]},{"screen_name":"mention","name":"mention","id":435854974,"id_str":"435854974","indices":[37,45]}],"media":[{"id":337248628689207296,"id_str":"337248628689207296","indices":[92,114],"media_url":"http:\/\/pbs.twimg.com\/media\/BK4l10oCAAAL-_X.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/BK4l10oCAAAL-_X.png","url":"http:\/\/t.co\/lke80Pg1jo","display_url":"pic.twitter.com\/lke80Pg1jo","expanded_url":"http:\/\/twitter.com\/raphaelweiner\/status\/337248628685012993\/photo\/1","type":"photo","sizes":{"medium":{"w":502,"h":359,"resize":"fit"},"small":{"w":340,"h":243,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":502,"h":359,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        May 19 18:48:37 +0000 2013","id":336191679927287808,"id_str":"336191679927287808","text":"testing
        again","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":57272421,"id_str":"57272421"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"[...]
