---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&since_id=1&trim_user=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ATWnDZ0CeEHpqrPMtyXaig", oauth_nonce="b47f0035490566794982bd42e393af00",
        oauth_signature="hW8oIk9U5dCXbXFB4omzqK4MaSc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1368839190", oauth_token="57272421-DdrlGSaASFZj1qjoqYqiSo4YDmJkDkaZOBVE5rSV4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 18 May 2013 01:06:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1368840090'
      X-Transaction:
      - 04c60864e875564e
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sat May 18 00:31:14 +0000 2013","id":335553128403443713,"id_str":"335553128403443713","text":"is
        that how you spell it?","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":57272421,"id_str":"57272421"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Sat
        May 18 00:31:05 +0000 2013","id":335553089887141888,"id_str":"335553089887141888","text":"magical,
        even","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":57272421,"id_str":"57272421"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"[...]
