<div class="six columns">
  <div style="padding-top: 20px;">
    <iframe width="300" height="225" frameborder="0" scrolling="no" style="box-shadow: 0px 2px 5px #aca78d;" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%= location.gsub(' ', '+') %>&ie=UTF8&z=5&t=m&iwloc=near&output=embed"></iframe>
  </div>
</div>
