<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="ten columns">
        <h1>Kreepr [login]</h1>
      </div>
      <div class="two columns" id="user_info">
        Signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <dl class="tabs five-up">
        <dd><a href="#simple1">My Feed</a></dd>
        <dd><a href="#simple2">My Trips</a></dd>
        <dd><a href="#simple3">Kreepr Requests (3)</a></dd>
        <dd><a href="#simple2">Manage Kreepings</a></dd>
        <dd><a href="#simple2">Account Settings</a></dd>
      </dl>
    </div>
  </div>

<!-- End Header and Nav -->


<!-- Main Body -->

  <div class="row">
    <div class="twelve columns">
      <center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Get Your Kreep On</h1>
        <br>
        <br>
        <br>
        <br>
        <a href="http://twitter.com"><img src="images/twitter_icon.jpeg">[twitter_icon]</a>
        <a href="login" class="radius button">Login with Twitter</a>
        <br>
      </center>
    </div>
  </div>
  <br>
  <br>
  <br>

<!-- End Main Body -->