<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="nine columns">
        <h1>Kreepr</h1>
      </div>
      <div class="three columns" id="user_info">
        signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <div class="row">
      <div class="twelve columns">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#">Home</a></li>
        <li class="divider"></li>
        <li><a href="#">My Feed</a></li>
        <li class="divider"></li>
        <li><a href="#">My Trips</a></li>
        <li class="divider"></li>
        <li><a href="#">Kreepr Requests (3)</a></li>
        <li class="divider"></li>
        <li><a href="#">Manage Kreepings</a></li>
        <li class="divider"></li>
        <li><a href="#">Account Settings</a></li>
        <li class="divider"></li>
      </ul>
      </div>
      </div>
    </section>
  </nav>

<!-- End Header and Nav -->


<!-- Main Body -->

  <div class="row">
    <div class="twelve columns">
      <center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Get Your Kreep On</h1>
        <br>
        <br>
        <br>
        <br>

        <div class="row">
          <div class="four columns">
            <a href="http://twitter.com"><%= image_tag "twitter_icon.jpeg", :size => "50x50", :align => "right" %></a>
          </div>
          <div class="four columns" align="center">
            <a href="login" class="radius button large expand">Login with Twitter</a>
          </div>
          <div class="four columns">
          </div>
        </div>

        <br>
        <br>
        <br>

        <div class="row">
          <div class="four columns" align="center">
          </div>
          <div class="four columns" align="center">
            <a href="signup" class="radius button large expand">Sign up as a kreepr</a>
          </div>
          <div class="four columns" align="center">
          </div>
        </div>

        <br>
      </center>
    </div>
  </div>
  <br>
  <br>
  <br>

<!-- End Main Body -->