<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="nine columns">
        <h1>Kreepr</h1>
      </div>
      <div class="three columns" id="user_info">
        signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <div class="row">
      <div class="twelve columns">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#">My Feed</a></li>
        <li class="divider"></li>
        <li><a href="#">My Trips</a></li>
        <li class="divider"></li>
        <li><a href="#">Kreepr Requests (3)</a></li>
        <li class="divider"></li>
        <li><a href="#">Manage Kreepings</a></li>
        <li class="divider"></li>
        <li><a href="#">Account Settings</a></li>
        <li class="divider"></li>
      </ul>
      </div>
      </div>
    </section>
  </nav>

<!-- End Header and Nav -->


<!-- Main Body -->

  <div class="row">
    <div class="five columns">
      <img src="http://placehold.it/300x300/aaddaa/000000&text=[logo/image]">
    </div>
    <div class="seven columns">
        <h2>Powering Your Best Memories</h2>
        <h4>And Letting Your Friends Live Vicariously</h4>
        <p></p>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="twelve columns centered">
      <center>
      <h2>Ready to get your kreep on?</h2>
      <h3>Link your accounts</h3>

      <br>

      <div class="row">
        <div class="four columns">
          <a href="http://twitter.com"><%= image_tag "twitter_icon.jpeg", :size => "50x50", :align => "right", :alt => "twitter logo" %></a>
        </div>
        <div class="four columns" align="center">
          <a href="login" class="radius button large expand">Login with Twitter</a>
        </div>
        <div class="four columns">
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="four columns">
          <a href="http://instagram.com"><%= image_tag("instagram_logo.jpg", :size => "50x50", :align => "right", :alt => "instagram logo") %>
        </div>
        <div class="four columns" align="center">
          <a href="login" class="radius button large expand">Login with Instagram</a>
        </div>
        <div class="four columns">
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="four columns">
          <a href="http://foursquare.com"><%= image_tag("foursquare_logo.jpg", :size => "45x45", :align => "right", :alt => "foursquare logo") %>
        </div>
        <div class="four columns" align="center">
          <a href="login" class="radius button large expand">Login with Foursquare</a>
        </div>
        <div class="four columns">
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="four columns" align="center">
        </div>
        <div class="four columns" align="center">
          <a href="signup" class="radius button large expand">Sign up</a>
        </div>
        <div class="four columns" align="center">
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


        <br>
        <br>
        <br>


      </center>
    </div>
  </div>

<!-- End Main Body