<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="ten columns">
        <h1>Kreepr [home]</h1>
      </div>
      <div class="two columns" id="user_info">
        Signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <dl class="tabs five-up">
        <dd><a href="#simple1">My Feed</a></dd>
        <dd><a href="#simple2">My Trips</a></dd>
        <dd><a href="#simple3">Kreepr Requests (3)</a></dd>
        <dd><a href="#simple2">Manage Kreepings</a></dd>
        <dd><a href="#simple2">Account Settings</a></dd>
      </dl>
    </div>
  </div>

<!-- End Header and Nav -->


<!-- Main Body -->

  <div class="row">
    <div class="five columns"><img src="http://placehold.it/300x300/aaddaa/000000&text=[logo/image]">
      <div class="two columns">
        <h2>Powering Your Best Memories</h2>
        <h4>And Letting Your Friends Live Vicariously</h4>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="eight columns centered">
      <center>
      <h2>Ready to get your kreep on?</h2>
      <h3>Link your accounts</h3>
        <a href="http://twitter.com"><img src="images/twitter_icon.jpeg">[twitter_icon]</a>
        <a href="login" class="radius button">Twitter</a>
      <br>
      <br>
      <br>
        <a href="#"><img src="">[instagram_icon]</a>
        <a href="login" class="radius button">Instagram</a>
      <br>
      <br>
      <br>
        <a href="#"><img src="">[instagram_icon]</a>
        <a href="login" class="radius button">Foursquare</a>
      <br>
      <br>
      <br>
      <a href="signup" class="radius button">Sign me up!</a>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </center>
    </div>
  </div>

<!-- End Main Body