<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="nine columns">
        <h1 id="site_header">kreepr</h1>
      </div>
      <div class="three columns" id="user_info">
        signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <div class="row">
      <div class="twelve columns">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="home">Home</a></li>
        <li class="divider"></li>
        <li><a href="user_dashboard">My Feed</a></li>
        <li class="divider"></li>
        <li><a href="user_trips">My Trips</a></li>
        <li class="divider"></li>
        <li><a href="kreepr_requests">Kreepr Requests (3)</a></li>
        <li class="divider"></li>
        <li><a href="manage_kreepings">Manage Kreepings</a></li>
        <li class="divider"></li>
        <li><a href="account_settings">Account Settings</a></li>
        <li class="divider"></li>
      </ul>
      </div>
      </div>
    </section>
  </nav>

<!-- End Header and Nav -->


<!-- Main Body -->

  <div class="row">
    <div class="four columns offset-by-one">
      <br>
      <br>
      <%= image_tag("happy_travelers.jpg", :size => "330x330", :alt => "group") %>
    </div>
    <div class="seven columns">
        <h2>Powering Your Memories</h2>
        <h4>Kreepr is the best way to organize your trips and check in on your friends. With a Kreepr account, you can create and manage your vacations, road trips, family outings, or any other group event. Simply invite members to join your "trip" and then their posts to Twitter, Instagram, and Foursquare will be automatically gathered in one place so that you can share and preserve all the memories.</h4>
        <p></p>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="twelve columns centered">
      <center>
      <h2 id="signup_font">Ready to get your kreep on?</h2>
      <h3>Link your accounts</h3>

      <br>

      <div class="row">
        <div class="four columns">
          <a href="http://twitter.com"><%= image_tag "twitter_icon.jpeg", :size => "50x50", :align => "right", :alt => "twitter logo" %></a>
        </div>
        <div class="four columns" align="center">
          <a href="login" class="radius button large expand">Login with Twitter</a>
        </div>
        <div class="four columns">
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="four columns">
          <a href="http://instagram.com"><%= image_tag("instagram_logo.jpg", :size => "50x50", :align => "right", :alt => "instagram logo") %>
        </div>
        <div class="four columns" align="center">
          <a href="login" class="radius button large expand">Login with Instagram</a>
        </div>
        <div class="four columns">
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="four columns">
          <a href="http://foursquare.com"><%= image_tag("foursquare_logo.jpg", :size => "45x45", :align => "right", :alt => "foursquare logo") %>
        </div>
        <div class="four columns" align="center">
          <a href="login" class="radius button large expand">Login with Foursquare</a>
        </div>
        <div class="four columns">
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="four columns" align="center">
        </div>
        <div class="four columns" align="center">
          <a href="signup" class="radius button large expand">Sign up</a>
        </div>
        <div class="four columns" align="center">
        </div>
      </div>

      <br>
      <br>
      <br>


      </center>
    </div>
  </div>

<!-- End Main Body