<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="nine columns">
        <h1 id="site_header">kreepr</h1>
      </div>
      <div class="three columns" id="user_info">
        signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <div class="row">
      <div class="twelve columns">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="home">Home</a></li>
        <li class="divider"></li>
        <li class="active"><a href="user_dashboard">My Feed</a></li>
        <li class="divider"></li>
        <li><a href="user_trips">My Trips</a></li>
        <li class="divider"></li>
        <li><a href="kreepr_requests">Kreepr Requests (3)</a></li>
        <li class="divider"></li>
        <li><a href="manage_kreepings">Manage Kreepings</a></li>
        <li class="divider"></li>
        <li><a href="account_settings">Account Settings</a></li>
        <li class="divider"></li>
      </ul>
      </div>
      </div>
    </section>
  </nav>

<!-- End Header and Nav -->


<!-- Main Body -->

<div class="row">
  <div class="three columns">
    <br>
    <h2 id="page_headline_dashboard">dashboard</h2>
    <div class="eleven columns offset-by-one">
      <div id="side_bar">
        <a href="#"><h3>My Trips</h3></a>
        <h5><a href="#">Bangkok</a></h5>
        <h5><a href="#">Vegas, Baby!</a></h5>
        <h5><a href="#">La France</a></h5>
        <h6><a href="#">See all trips</a></h6>
        <a href="#" class="radius button">Add a Trip</a>
      </div>
      <br>
      <div id="side_bar">
        <a href="#"><h3>Kreepings</h3></a>
        <h5><a href="#">Turkey</a></h5>
        <h5><a href="#">New Zealand</a></h5>
        <h5><a href="#">top secret</a></h5>
        <h6><a href="#">See all kreepings</a></h6>
      </div>
    </div>
  </div>
  <div class="nine columns">
    <br>
    <br>
    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <img src="http://www.thailandvoyage.com/image/grandpalace/20050507eBangkok-GrosserPalast0446.jpg">
        <h6><a href="#">a.hoy</a> posted to trip <a href="#">Bangkok</a> 1 day ago</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <p id="tweet">Team Mexico pork cloud</p>
        <h6><a href="#">denboy</a> Tweeted to trip <a href="#">top secret</a> 1 day ago</h6>
      </div>
    </div>
    <br>
    <br>
    <div class="row" id="feed_item">
      <div class="two columns">
        <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "profile") %>
      </div>
      <div class="ten columns">
        <img src="http://www.absoluterights.com/wp-content/uploads/2012/09/eiffel-tower.jpeg">
        <h6><a href="#">kytrinyx</a> posted to trip <a href="#">La France</a> 2 days ago</h6>
      </div>
    </div>
  </div>
</div>



<!-- End Main Body -->