<!-- Header and Nav -->

  <div class="row">
    <div class="large-12 columns">
      <h1>kreepr</h1>
    </div>
  </div>
  <!-- End Header and Nav -->

<!-- Nav bar -->
<!-- <div class="fixed"> -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#">Top Bar Title </a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="active"><a href="#">Main Item 1</a></li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown"><a href="#">Main Item 3</a>

          <ul class="dropdown">
            <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

              <ul class="dropdown">
                <li><label>Dropdown Level 2 Label</label></li>
                <li><a href="#">Dropdown Level 2a</a></li>
                <li><a href="#">Dropdown Level 2b</a></li>
                <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                  <ul class="dropdown">
                    <li><label>Dropdown Level 3 Label</label></li>
                    <li><a href="#">Dropdown Level 3a</a></li>
                    <li><a href="#">Dropdown Level 3b</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Dropdown Level 3c</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown Level 2d</a></li>
                <li><a href="#">Dropdown Level 2e</a></li>
                <li><a href="#">Dropdown Level 2f</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Level 1b</a></li>
            <li><a href="#">Dropdown Level 1c</a></li>
            <li class="divider"></li>
            <li><a href="#">Dropdown Level 1d</a></li>
            <li><a href="#">Dropdown Level 1e</a></li>
            <li><a href="#">Dropdown Level 1f</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <li class="has-dropdown"><a href="#">Main Item 4</a>

          <ul class="dropdown">
            <li><label>Dropdown Level 1 Label</label></li>
            <li class="has-dropdown"><a href="#" class="">Dropdown Level 1a</a>

              <ul class="dropdown">
                <li><a href="#">Dropdown Level 2a</a></li>
                <li><a href="#">Dropdown Level 2b</a></li>
                <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                  <ul class="dropdown">
                    <li><a href="#">Dropdown Level 3a</a></li>
                    <li><a href="#">Dropdown Level 3b</a></li>
                    <li><a href="#">Dropdown Level 3c</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown Level 2d</a></li>
                <li><a href="#">Dropdown Level 2e</a></li>
                <li><a href="#">Dropdown Level 2f</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Level 1b</a></li>
            <li><a href="#">Dropdown Level 1c</a></li>
            <li class="divider"></li>
            <li><label>Dropdown Level 1 Label</label></li>
            <li><a href="#">Dropdown Level 1d</a></li>
            <li><a href="#">Dropdown Level 1e</a></li>
            <li><a href="#">Dropdown Level 1f</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>

        <li class="divider"></li>
        <li class="divider show-for-small"></li>
        <li class="has-form">
          <a class="button" href="#">Button!</a>
        </li>
      </ul>
    </section>
  </nav>
<!-- </div> -->
<!-- end Nav bar -->

  <div class="row">

 <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 columns ">
      <!-- <div class="panel"> -->
        <a href="#"><img src="http://placehold.it/300x150/CCFFCC/cc6600&text=[logo]" /></a>
        <!-- <h5 align="center"><a href="#">TRIPS</a></h5> -->
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h4 class="title" align="center">TRIPS</h4>
          </section>
          <!-- <section class="section"> -->
            <h5 class="title"><a href="#">My Trips</a></h5>
          <!-- </section> -->
          <!-- <section class="section"> -->
            <h6 class="title"><a href="#">Trip 2</a></h6>
          <!-- </section> -->
          <!-- <section class="section"> -->
            <h6 class="title"><a href="#">Trip 3</a></h6>
          <!-- </section> -->
          <!-- <section class="section"> -->
            <a href="#">-- See All Trips --</a>
          <!-- </section> -->
          <section class="section">
            <p>
            <h4 class="title" align="center">KREEPINGS</h4>
          </section>
          <!-- <section class="section"> -->
            <h5 class="title"><a href="#">Bangkok</a></h5>
          <!-- </section> -->
          <!-- <section class="section"> -->
            <h5 class="title"><a href="#">Rocky Mountain High</a></h5>
          <!-- </section> -->
          <!-- <section class="section"> -->
            <h5 class="title"><a href="#">TopSecret</a></h5>
          <!-- </section> -->
          <!-- <section class="section"> -->
            <a href="#">-- See all my kreeps --</a>
          <!-- </section> -->
        </div>

      <!-- </div> -->
    </div>

    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 columns">

      <!-- Feed Entry -->
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://drupal.org/files/profile_default.png"></div>
        <div class="large-10 columns">
          <p>Bacon ipsum dolor sit <a href="#">@mister_kreepr</a> amet nulla ham qui sint exercitation eiusmod commodo #sometweet</p>

          <div class="row" align="right"><a href="#">a.hoy</a> posted on <a href="#">Bangkok</a> 1 day ago
          </div>


        </div>
      </div>
      <!-- End Feed Entry -->

      <hr />

      <!-- Feed Entry -->
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://drupal.org/files/profile_default.png" /></div>
        <div class="large-10 columns">
          <img src="http://placehold.it/500x200/CCCCFF/cc6600&text=[image of Las Vegas]" />

          <div class="row" align="right"><a href="#">denboy</a> posted on <a href="#">TopSecret</a> 1 day ago
          </div>

        </div>
      </div>
      <!-- End Feed Entry -->

      <hr />

      <!-- Feed Entry -->
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://drupal.org/files/profile_default.png" /></div>
        <div class="large-10 columns">
          <p><strong>somekreeper</strong> checked in at <strong>My Favorite Casino</strong> (via FourSquare)</p>

          <div class="row" align="right"><a href="#">somekreepr</a> posted on <a href="#">Rocky Mountain High</a> 1 day ago
          </div>

        </div>
      </div>
      <!-- End Feed Entry -->

      <hr />

      <!-- Feed Entry -->
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://drupal.org/files/profile_default.png" /></div>
        <div class="large-10 columns">
          <img src="http://placehold.it/350x500/cc6600/ffffff&text=[image of Bangkok]" />

          <div class="row" align="right"><a href="#">captain-planet</a> posted on <a href="#">Bangkok</a> 1 day ago
          </div>

        </div>
      </div>
      <!-- End Feed Entry -->

    </div>
  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>