<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="nine columns">
        <h1>Kreepr</h1>
      </div>
      <div class="three columns" id="user_info">
        signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <div class="row">
      <div class="twelve columns">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#">My Feed</a></li>
        <li class="divider"></li>
        <li><a href="#">My Trips</a></li>
        <li class="divider"></li>
        <li><a href="#">Kreepr Requests (3)</a></li>
        <li class="divider"></li>
        <li><a href="#">Manage Kreepings</a></li>
        <li class="divider"></li>
        <li class="active"><a href="#">Account Settings</a></li>
        <!-- <li class="has-dropdown"><a href="#">Main Item 3</a>

          <ul class="dropdown">
            <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

              <ul class="dropdown">
                <li><label>Dropdown Level 2 Label</label></li>
                <li><a href="#">Dropdown Level 2a</a></li>
                <li><a href="#">Dropdown Level 2b</a></li>
                <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                  <ul class="dropdown">
                    <li><label>Dropdown Level 3 Label</label></li>
                    <li><a href="#">Dropdown Level 3a</a></li>
                    <li><a href="#">Dropdown Level 3b</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Dropdown Level 3c</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown Level 2d</a></li>
                <li><a href="#">Dropdown Level 2e</a></li>
                <li><a href="#">Dropdown Level 2f</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Level 1b</a></li>
            <li><a href="#">Dropdown Level 1c</a></li>
            <li class="divider"></li>
            <li><a href="#">Dropdown Level 1d</a></li>
            <li><a href="#">Dropdown Level 1e</a></li>
            <li><a href="#">Dropdown Level 1f</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li> -->
        <li class="divider"></li>
      </ul>
      </div>
      </div>
    </section>
  </nav>

<!-- End Header and Nav -->

<!-- Main Body -->

  <div class="row">
    <div class="eight columns">
    </div>
    <div class="four columns">
      <h3>Account Settings</h3>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "150x150", :alt => "kreepr") %>
    </div>
    <div class="ten columns">
      <h2>eebee</h2>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="twelve columns">
      <h3>Linked Services</h3>
      <div class="row">
        <div class="one column">
          <%= image_tag("twitter_logo.svg", :size => "40x40", :alt => "twitter logo") %><br><br>
        </div>
        <div class="eleven columns">
          <h4>Twitter</h4><br>
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <%= image_tag("instagram_logo.jpg", :size => "45x45", :alt => "instagram logo") %><br><br>
        </div>
        <div class="eleven columns">
          <h4>Instagram</h4><br>
        </div>
      </div>
      <div class="row">
        <div class="one column">
           <%= image_tag("foursquare_logo.jpg", :size => "40x40", :alt => "foursquare logo") %><br><br>
        </div>
        <div class="eleven columns">
          <h4>Foursquare</h4><br>
        </div>
      </div>
    </div>
  </div>



<!-- End Main Body