<div class="row">
  <div class="twelve columns">
    <h3 id="page_headline">account settings</h3>
  </div>
</div>

<div class="row">
  <div class="two columns offset-by-one">
    <%= image_tag("Overly-attached-girlfriend-meme.png", :size => "150x150", :alt => "kreepr") %>
  </div>
  <div class="nine columns">
    <h2>eebee</h2>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="eleven columns offset-by-one">
    <h3>Linked Services</h3>
    <div class="row">
      <div class="one column">
        <%= image_tag("twitter_logo.svg", :size => "40x40", :alt => "twitter logo") %><br><br>
      </div>
      <div class="eleven columns">
        <h4>Twitter</h4><br>
      </div>
    </div>
    <div class="row">
      <div class="one column">
        <%= image_tag("instagram_logo.jpg", :size => "45x45", :alt => "instagram logo") %><br><br>
      </div>
      <div class="eleven columns">
        <h4>Instagram</h4><br>
      </div>
    </div>
    <div class="row">
      <div class="one column">
         <%= image_tag("foursquare_logo.jpg", :size => "40x40", :alt => "foursquare logo") %><br><br>
         <br>
      <br>
      <br>
      <br>
      <a class="radius button alert">Delete Account</a>
      </div>
      <div class="eleven columns">
        <h4>Foursquare</h4><br>
      </div>

    </div>
  </div>
</div>
