<div class="row">
  <div class="twelve columns">
    <h3 id="page_headline">kreepr requests</h3>
  </div>
</div>

<div class="row kreepr_request">
  <div class="two columns">
    <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
  </div>
  <div class="ten columns">
    <h5><a href="profile">Aimee</a> has requested to kreep on the trip <a href="trip">Bangkok</a></h5>
    <br>
    <a class="radius button">kreep on!</a>
    <a class="radius button">eh, I'll pass</a>
  </div>
</div>

<br>
<br>

<div class="row kreepr_request">
  <div class="two columns">
    <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
  </div>
  <div class="ten columns">
    <h5><a href="profile">denboy</a> has requested to kreep on the trip <a href="trip">Bangkok</a></h5>
    <br>
    <a class="radius button">kreep on!</a>
    <a class="radius button">eh, I'll pass</a>
  </div>
</div>

<br>
<br>
<br>

<div class="row">
  <div class="twelve columns">
    <h3 id="page_headline">traveler requests</h3>
  </div>
</div>

<div class="row kreepr_request">
  <div class="two columns">
    <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
  </div>
  <div class="ten columns">
    <h5><a href="profile">Lainey</a> has requested to be added as a traveler on the trip <a href="trip">Bangkok</a></h5>
    <br>
    <a class="radius button">yes, they're with us</a>
    <a class="radius button">not this time</a>
  </div>
</div>
