<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="ten columns">
        <h1>Kreepr</h1>
      </div>
      <div class="two columns" id="user_info">
        Signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <dl class="tabs five-up">
        <dd><a href="#simple1">My Feed</a></dd>
        <dd><a href="#simple2">My Trips</a></dd>
        <dd class="active"><a href="#simple3">Kreepr Requests (3)</a></dd>
        <dd><a href="#simple2">Manage Kreepings</a></dd>
        <dd><a href="#simple2">Account Settings</a></dd>
      </dl>
    </div>
  </div>

<!-- End Header and Nav -->


<!-- Main Body -->

  <div class="row">
    <div class="twelve columns">
      <h3>Kreepr Requests</h3>
    </div>
  </div>

  <div class="row kreepr_request">
    <div class="two columns">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="ten columns">
      <h5><a href="profile">Aimee</a> has requested to kreep on the trip <a href="trip">Bangkok</a></h5>
      <br>
      <a class="radius button">kreep on!</a>
      <a class="radius button">eh, I'll pass</a>
    </div>
  </div>

  <br>
  <br>

  <div class="row kreepr_request">
    <div class="two columns">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="ten columns">
      <h5><a href="profile">denboy</a> has requested to kreep on the trip <a href="trip">Bangkok</a></h5>
      <br>
      <a class="radius button">kreep on!</a>
      <a class="radius button">eh, I'll pass</a>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="twelve columns">
      <h3>Traveler Requests</h3>
    </div>
  </div>

  <div class="row kreepr_request">
    <div class="two columns">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="ten columns">
      <h5><a href="profile">Lainey</a> has requested to be added as a traveler on the trip <a href="trip">Bangkok</a></h5>
      <br>
      <a class="radius button">yes, they're with us</a>
      <a class="radius button">not this time</a>
    </div>
  </div>

<!-- End Main Body -->