<div class="row">
  <div class="twelve columns">
    <h3 id="page_headline">manage kreepings</h3>
  </div>
</div>

<div class="row">
  <div class="eleven columns offset-by-one">
    <h3>Current Trips</h3>
  </div>
</div>

  <div class="row kreepr_request">
    <div class="two columns offset-by-one">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="nine columns">
      <h5><a href="profile">gravy</a>'s trip to Ankara
      <br>
      <br>
      <a class="radius button">unsubscribe</a>
    </div>
  </div>

  <br>
  <br>

  <div class="row kreepr_request">
    <div class="two columns offset-by-one">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="nine columns">
      <h5><a href="profile">frodo</a>'s trip to Waitomo
      <br>
      <br>
      <a class="radius button">unsubscribe</a>
    </div>

</div>

<br>
<br>
<br>

<div class="row">
  <div class="eleven columns offset-by-one">
    <h3>Past Trips</h3>
  </div>
</div>

<div class="row kreepr_request">
  <div class="two columns offset-by-one">
    <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
  </div>
  <div class="nine columns">
    <h5><a href="profile">denboy</a>'s trip to Kabul
    <br>
    <br>
    <a class="radius button">unsubscribe</a>
  </div>
</div>

<br>
<br>

<div class="row kreepr_request">
  <div class="two columns offset-by-one">
    <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
  </div>
  <div class="nine columns">
    <h5><a href="profile">bbq</a>'s trip to Mongolia
    <br>
    <br>
    <a class="radius button">unsubscribe</a>
  </div>
</div>
