<div class="row">
  <div class="twelve columns">
    <h3 id="page_headline">manage trip</h3>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h2>Road Trip</h2>
  </div>
</div>
<div class="row">
  <div class="one column">
  </div>
  <div class="eleven columns">
    <h4>May 17 - May 24, 2013</h4>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <h4>Destination</h4>
  </div>
</div>
<div class="row">
  <div class="one column">
  </div>
  <div class="eleven columns">
    <h5>Chicago</h5>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="twelve columns">
    <h4>Privacy Settings</h4>
    <div class="two columns">
      <label for="public"><input name="privacy_setting" CHECKED type="radio" id="public" value="public">Public</label>
    </div>
    <div class="two columns">
      <label for="private"><input name="privacy_setting" type="radio" id="private" value="private">Private</label>
    </div>
    <div class="eight columns">
    </div>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="six columns">
    <h4>Travelers</h4>
    <div class="row">
      <div class="four columns">
        <h5 align="right"><a href="profile">sussinct</a></h5>
      </div>
      <div class="eight columns">
        <a class="radius button small">remove</a>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <h5 align="right"><a href="profile">phil er up</a></h5>
      </div>
      <div class="eight columns">
        <a class="radius button small">remove</a>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <h5 align="right"><a href="profile">weiner</a></h5>
      </div>
      <div class="eight columns">
        <a class="radius button small">remove</a>
      </div>
      <div class="two columns">
      </div>
      <div class="ten columns">
        <h5>Add Travelers<h5>
        <input type="text" name="end_date">
      </div>
    </div>
  </div>

  <div class="six columns">
    <h4>Kreeprs</h4>
    <div class="row">
      <div class="four columns">
        <h5 align="right"><a href="profile">mom</a></h5>
      </div>
      <div class="eight columns">
        <a class="radius button small">remove</a>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <h5 align="right"><a href="profile">uncle bob</a></h5>
      </div>
      <div class="eight columns">
        <a class="radius button small">remove</a>
      </div>
    </div>
      <div class="two columns">
      </div>
      <div class="ten columns">
        <h5>Add Kreeprs<h5>
        <input type="text" name="end_date">
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="row">
  <div class="twelve columns">
    <a class="alert radius button" href="#">Delete trip</a>
  </div>
</div>
