<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="nine columns">
        <h1>Kreepr</h1>
      </div>
      <div class="three columns" id="user_info">
        signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <div class="row">
      <div class="twelve columns">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#">My Feed</a></li>
        <li class="divider"></li>
        <li><a href="#">My Trips</a></li>
        <li class="divider"></li>
        <li><a href="#">Kreepr Requests (3)</a></li>
        <li class="divider"></li>
        <li class="active"><a href="#">Manage Kreepings</a></li>
        <li class="divider"></li>
        <li><a href="#">Account Settings</a></li>
        <li class="divider"></li>
      </ul>
      </div>
      </div>
    </section>
  </nav>

<!-- End Header and Nav -->


<!-- Main Body -->

<div class="row">
  <div class="twelve columns">
    <h3 id="page_headline">manage kreepings</h3>
  </div>
</div>

<div class="row">
    <div class="twelve columns">
      <h3>Current Trips</h3>
    </div>
  </div>

  <div class="row kreepr_request">
    <div class="two columns">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="ten columns">
      <h5><a href="profile">gravy</a>'s trip to Ankara
      <br>
      <br>
      <a class="radius button">unsubscribe</a>
    </div>
  </div>

  <br>
  <br>

  <div class="row kreepr_request">
    <div class="two columns">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="ten columns">
      <h5><a href="profile">frodo</a>'s trip to Waitomo, Auckland, and Wellington
      <br>
      <br>
      <a class="radius button">unsubscribe</a>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="twelve columns">
      <h3>Past Trips</h3>
    </div>
  </div>

  <div class="row kreepr_request">
    <div class="two columns">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="ten columns">
      <h5><a href="profile">denboy</a>'s trip to Kabul and Jalalabad
      <br>
      <br>
      <a class="radius button">unsubscribe</a>
    </div>
  </div>

  <br>
  <br>

  <div class="row kreepr_request">
    <div class="two columns">
      <center><%= image_tag("Overly-attached-girlfriend-meme.png", :size => "100x100", :alt => "kreepr") %></center>
    </div>
    <div class="ten columns">
      <h5><a href="profile">bbq</a>'s trip to Mongolia
      <br>
      <br>
      <a class="radius button">unsubscribe</a>
    </div>
  </div>

<!-- End Main Body -->