<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="nine columns">
        <h1>Kreepr</h1>
      </div>
      <div class="three columns" id="user_info">
        signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <div class="row">
      <div class="twelve columns">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#">My Feed</a></li>
        <li class="divider"></li>
        <li><a href="#">My Trips</a></li>
        <li class="divider"></li>
        <li><a href="#">Kreepr Requests (3)</a></li>
        <li class="divider"></li>
        <li><a href="#">Manage Kreepings</a></li>
        <li class="divider"></li>
        <li><a href="#">Account Settings</a></li>
        <li class="divider"></li>
      </ul>
      </div>
      </div>
    </section>
  </nav>

<!-- End Header and Nav -->

<!-- Main Body -->

  <div class="row">
    <div class="ten columns">
    </div>
    <div class="two columns">
      <h3>New Trip</h3>
    </div>
  </div>

  <div class="row new_trip">
    <div class="twelve columns">
      <h4>Trip Name</h4>
      <input type="text" class="four">

      <h4>Destination(s)</h4>
      <input type="text" class="four">

      <h4>Trip Dates</h4>
      <div class="row">
        <div class="two columns">
          <input type="text" name="start_date">
        </div>
        <div class="one column">
          <h6>through</h6>
        </div>
        <div class="two columns">
          <input type="text" name="end_date">
        </div>
        <div class="seven columns">
        </div>
      </div>

      <h4>Privacy Settings</h4>
      <div class="row">
        <div class="two columns">
          <label for="public"><input name="privacy_setting" CHECKED type="radio" id="public" value="public">Public</label>
        </div>
        <div class="two columns">
          <label for="private"><input name="privacy_setting" type="radio" id="private" value="private">Private</label>
        </div>
        <div class="eight columns">
        </div>
      </div>

      <h4>Add Travelers</h4>
      <input type="text" class="four">

      <br>
      <a class="radius button large">save trip</a>
    </div>
  </div>

<!-- End Main Body