<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="ten columns">
        <h1>Kreepr</h1>
      </div>
      <div class="two columns" id="user_info">
        Signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <dl class="tabs five-up">
        <dd><a href="#simple1">My Feed</a></dd>
        <dd><a href="#simple2">My Trips</a></dd>
        <dd class="active"><a href="#simple3">Kreepr Requests (3)</a></dd>
        <dd><a href="#simple2">Manage Kreepings</a></dd>
        <dd><a href="#simple2">Account Settings</a></dd>
      </dl>
    </div>
  </div>

<!-- End Header and Nav -->

<!-- Main Body -->

  <div class="row">
    <div class="ten columns">
    </div>
    <div class="two columns">
      <h3>New Trip</h3>
    </div>
  </div>

  <div class="row new_trip">
    <div class="twelve columns">
      <h4>Trip Name</h4>
      <input type="text" class="four">

      <h4>Destination(s)</h4>
      <input type="text" class="four">

      <h4>Trip Dates</h4>
      <div class="row">
        <div class="two columns">
          <input type="text" name="start_date">
        </div>
        <div class="one column">
          <h6>through</h6>
        </div>
        <div class="two columns">
          <input type="text" name="end_date">
        </div>
        <div class="seven columns">
        </div>
      </div>

      <h4>Privacy Settings</h4>
      <div class="row">
        <div class="two columns">
          <label for="public"><input name="privacy_setting" CHECKED type="radio" id="public" value="public">Public</label>
        </div>
        <div class="two columns">
          <label for="private"><input name="privacy_setting" type="radio" id="private" value="private">Private</label>
        </div>
        <div class="eight columns">
        </div>
      </div>

      <h4>Add Travelers</h4>
      <input type="text" class="four">
    </div>
  </div>

<!-- End Main Body