<div class="row">
  <div class="twelve columns">
    <h2>What Happens in Vegas...</h2>
  </div>
</div>
<br>
<br>
<br>

<div class="row six push-three" id="private_trip">
  <div class="five columns centered">
    <center><h4>Oh noes!  This trip is private.</h4>
    <br>
    <br>
    <a class="radius button">Request to kreep on this trip</a>
    <br>
    <br>
    <br>
    <a class="radius button">Request to be added as a traveler on this trip</a></center>
  </div>
</div>
