<!-- Header and Nav -->

  <div class="row">
    <div class="site-header ui-helper-clearfix">
      <div class="nine columns">
        <h1>Kreepr</h1>
      </div>
      <div class="three columns" id="user_info">
        signed in as <a href="user">eebee</a>
      </div>
    </div>
  </div>

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <div class="row">
      <div class="twelve columns">
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#">My Feed</a></li>
        <li class="divider"></li>
        <li><a href="#">My Trips</a></li>
        <li class="divider"></li>
        <li><a href="#">Kreepr Requests (3)</a></li>
        <li class="divider"></li>
        <li><a href="#">Manage Kreepings</a></li>
        <li class="divider"></li>
        <li><a href="#">Account Settings</a></li>
        <li class="divider"></li>
      </ul>
      </div>
      </div>
    </section>
  </nav>

<!-- End Header and Nav -->

<!-- Main Body -->

  <div class="row">
    <div class="twelve columns">
      <h2>What Happens in Vegas...</h2>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row six push-three" id="private_trip">
    <div class="five columns centered">
      <center><h4>Oh noes!  This trip is private.</h4>
      <br>
      <br>
      <a class="radius button">Request to kreep on this trip</a>
      <br>
      <br>
      <br>
      <a class="radius button">Request to be added as a traveler on this trip</a></center>
    </div>
  </div>

<!-- End Main Body -->