<div class="row">
  <div class="site-header ui-helper-clearfix">
    <div class="nine columns">
      <h1 id="site_header">kreepr</h1>
    </div>
    <div class="three columns" id="user_info">
      signed in as <a href="user">eebee</a>
    </div>
  </div>
</div>

<nav class="top-bar">
  <section class="top-bar-section">
    <div class="row">
    <div class="twelve columns">
    <ul class="left">
      <li class="divider"></li>
      <li><a href="home">Home</a></li>
      <li class="divider"></li>
      <li><a href="user_dashboard">My Feed</a></li>
      <li class="divider"></li>
      <li><a href="user_trips">My Trips</a></li>
      <li class="divider"></li>
      <li><a href="kreepr_requests">Kreepr Requests (3)</a></li>
      <li class="divider"></li>
      <li><a href="manage_kreepings">Manage Kreepings</a></li>
      <li class="divider"></li>
      <li><a href="account_settings">Account Settings</a></li>
      <li class="divider"></li>
    </ul>
    </div>
    </div>
  </section>
</nav>
